
GCC_PREPROCESSOR_DEFINITIONS = $(PREPROCESSOR_BASE)

OTHER_LDFLAGS = $(LINKER_FLAGS)

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7
ARCHS = $(ARCHS_STANDARD_32_BIT)

ONLY_ACTIVE_ARCH = YES

LINKER_FLAGS				= -framework OpenGL -framework Carbon -framework AppKit

PREPROCESSOR_BASE			= TARGET_OS_MAC=1